body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  width: 300px;
  background: #1c1c1c;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 36px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #000;
  color: white;
}

.botoes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operador {
  background-color: #ff9500;
}

.numero {
  background-color: #505050;
}
.zero {
  grid-column: span 2;
  width: 100%;
}
